<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChrisSharp</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            background-image: url('/w3images/forestbridge.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
    <style>
        #rcorners1 {
            border-radius: 25px;
            background: #808080;
            opacity: 0.8;
            padding: 20px;
            width: 200px;
            height: 150px;
        }

        #rcorners2 {
            border-radius: 25px;
            border: 2px solid #73AD21;
            padding: 20px;
            width: 200px;
            height: 150px;
        }

        #rcorners3 {
            border-radius: 25px;
            background: url(paper.gif);
            background-position: left top;
            background-repeat: repeat;
            padding: 20px;
            width: 200px;
            height: 150px;
        }
    </style>
</head>
<body class="bg" style="background-image: url(http://getwallpapers.com/wallpaper/full/4/5/2/133026.jpg)">
    >
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <img src=" https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" width="150" height="150"/>
        </div>
        <div class="w3-center">
            <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">35 days left</p>
            <h1>
                <strong>
                    <a class="w3-jumbo, w3-text-white">
                        Add ChrisSharp to your server!
                    </a>
                </strong>
            </h1>
            <a href="https://discordapp.com/api/oauth2/authorize?client_id=606324612493738008&permissions=8&scope=bot">
                <p>
                    <button class="w3-large w3-center w3-button w3-black w3-round-large">
                        Add!
                        <img src=" https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" width="50" height="50" />
                    </button>
                </p>
            </a>
            <p class="w3-text-white">
                <quiet>
                    ChrisSharp is an interactive discord bot that will allow you to utilize
                    different functions applicable towards making MSSA easier. Plus some fun
                    commands to keep your server entertained.
                </quiet>
            </p>
        </div>
    </div>
</body>
</html>