<!DOCTYPE html>
<html>
<head>
    <title>ChrisSharp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <h1>Add ChrisSharp to your server!</h1>
    <p>
        ChrisSharp is an interactive discord bot that will allow you to utilize
        different functions applicable towards making MSSA easier. Plus some fun
        commands to keep your server entertained.
    </p>
    <button class="button"><a href="https://discordapp.com/api/oauth2/authorize?client_id=606324612493738008&permissions=8&scope=bot">Add!</button>



</body>
</html>