
@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChrisSharp</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        img {
            opacity: 1;
            display: block;
            margin-left: auto;
            margin-right: auto;
            -moz-box-shadow: 0 0 50px #fff;
            -webkit-box-shadow: 0 0 50px #fff;
            box-shadow: 0px 0px 50px #fff;
        }

        bg {
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
    </style>
</head>
<body class="bg" style="background-image: url(https://wallpaperplay.com/walls/full/4/7/8/34842.jpg);">


    <div class="w3-center" style="color:deeppink">
        <h1 class="w3-jumbo w3-animate-top">Contact Me!</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">Email</p>
        <h1>
            <strong>
                <a class="w3-jumbo, w3-text-white">
                    Christopher.Ruaboro@outlook.com
                </a>
            </strong>
        </h1>
        <p class="w3-text-white">
            <quiet>
                Email me with any questions or suggestions to my bot!
            </quiet>
        </p>
    </div>
</body>
</html>