@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChrisSharp</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        img {
            opacity: 1;
            display: block;
            margin-left: auto;
            margin-right: auto;
            -moz-box-shadow: 0 0 50px #fff;
            -webkit-box-shadow: 0 0 50px #fff;
            box-shadow: 0px 0px 50px #fff;
        }
        bg{
            filter: blur(8px); 
            -webkit-filter: blur(8px); 
        }
    </style>
</head>
<body class="bg" style="background-image: url(https://wallpapertag.com/wallpaper/full/e/a/3/138951-80s-neon-wallpaper-1920x1200-hd-for-mobile.jpg);">

    <img src="~/Photos/Logo.jpg" alt="Paris" style="width:50%; opacity:1;">
    <h1></h1>
</body>
</html>