@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChrisSharp</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body class="bg" style="background-image: url(https://wallpapertag.com/wallpaper/full/e/a/3/138951-80s-neon-wallpaper-1920x1200-hd-for-mobile.jpg)">
    <h1></h1>
</body>
</html>